//VARIABLES
$blue : #65C1BE;



//GLOBAL
*{
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Pacifico', cursive;
    color: $blue;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}





//HEADER
header{
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        .logo{
            display: block;
            width: 3rem;
            img{
                max-width: 100%;
            }
        }
        .open{
            cursor: pointer;
            i{
                font-size: 3rem;
                transition: .2s;
                color: black;
            }
            i:hover{
                color: $blue;
            }
        }
        .menu{
            transition: ease 1s;
            position: absolute;
            right: 0;
            top: 0;
            width: 0;
            height: 100vh;
            background-color: #313131;
            overflow: hidden;
            z-index: 999;
            .close{
                cursor: pointer;
                i{
                    font-size: 4rem;
                    color: #777777;
                    transition: ease .2s;
                }
                i:hover{
                    color: $blue;
                }
            }
            ul{
                width: 60%;
                margin: 10rem auto 0;
                li{
                    border-bottom: solid 1px #777777;
                    a{
                        display: block;
                        padding: 1rem;
                        color: white;
                        font-size: 1.7rem;
                    }
                    a:hover{
                        color: $blue;
                    }
                }
            }
        }
        .opened-menu{
            width: 40%;
            padding: 5rem;
        }
    }
}


//MAIN
main{
    h1{
        font-family: 'Kaushan Script', cursive;
        color: #65C1BE;
        font-size: 7rem;
        text-align: center;
        padding-block: 10rem;
        text-shadow: 4px 4px 10px #000000;
    }
    .btn{
        padding: 1rem 2rem;
        background-color: #65C1BE;
        color: #313131;
        border-radius: 15px;
        border: solid 1px #313131;
        margin-top: 2rem;
        font-size: 1.5rem;
    }
    .btn:hover{
        background-color: #313131;
        border-color: $blue;
        color: $blue;
    }
    
    section.homepage{
        h1{
            background: url('../pictures/home.jpg') no-repeat;
            background-size: cover;
            background-position: center;
        }
        .allServices{
            padding: 2rem;
            h3{
                font-size: 2rem;
                text-align: center;
            }
            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;
                li a{
                    width: 180px;
                    height: 180px;
                    margin: 2rem;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    border: solid 2px $blue;
                    border-radius: 10px;
                    transition: .2s;
                    img{
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        min-height: 100%;
                        object-fit: cover;
                        filter: brightness(50%);
                    }
                    h5{
                        font-size: 2rem;
                        text-align: center;
                        color: #65C1BE;
                        text-shadow: 0px 0px 10px #000000;                
                    }
                }
                li a:hover{
                    transform: scale(0.95);
                }
            }
        }
    }
    section.chambres{
        h1{
            background: url('../pictures/chambres.jpg') no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
    section.salles{
        h1{
            background: url('../pictures/salles.jpg') no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
    section.restaurant, section.bar{
        h1{
            background-size: cover !important;
            background-position: center !important;
        }
    }
    section.chambres, section.salles, section.restaurant, section.bar{
        .allChambres, .allSalles, .allMenu, .allBoisson{
            padding: 2rem;
            ul{
                display: flex;
                flex-wrap: wrap;
                li{
                    background-color: #313131;
                    width: 20%;
                    margin: 2.5%;
                    overflow: hidden;
                    border-radius: 15px;
                    border: solid 2px $blue;
                    .picture{
                        width: 100%;
                        height: 200px;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            width: 150%;
                            transition: ease 1s;
                        }
                    }
                    .content{
                        padding: 1rem;
                        h5{
                            font-size: 2.5rem;
                            text-align: center;
                            margin-bottom: 3rem;
                        }
                        p{
                            font-size: 1.5rem;
                        }
                        .reservation{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .dispo{
                                color: green;
                            }
                            .occupe{
                                color: red;
                            }
                            a{
                                display: block;
                                font-size: 1.5rem;
                                color: #313131;
                                background-color: $blue;
                                border-radius: 15px;
                                padding: 0.5rem 1rem;

                            }
                        }

                    }
                }
                li:hover{
                    .picture{
                        img{
                            width: 130% !important;
                        }
                    }
                }
            }
        }
    }
    section.reserveChambre, section.reserveSalle, section.commandMenu, section.commandBoisson{
        h1{
            background-size: cover !important;
            background-position: center !important;
        }
        .valid-message{
            font-size: 1.5rem;
            text-align: center;
            padding: 2rem;
            color: green;
        }
        .reservations{
            padding: 3rem;
            ul{
                list-style: circle;
                padding-left: 5rem;
                li{
                    font-size: 1.5rem;
                }
            }
        }
        .reserveForm{
            width: 50%;
            margin: 5rem auto;
            background-color: #313131;
            padding: 2rem;
            border-radius: 15px;
            border: solid 2px $blue;
            text-align: center;

            select{
                font-size: 1.5rem;
                width: 40%;
                background-color: $blue;
                color: #313131;
                border-radius: 15px;
                text-align: center;
                padding: 0.5rem 1rem;
                option{
                    font-size: 1.5rem;
                }
            }
            .input-label{
                margin: 2rem 0;
                input{
                    font-size: 1.5rem;
                    background-color: $blue;
                    border-radius: 15px;
                    color: #313131;
                    padding: 0.5rem 1rem;
                    width: 40%;
                }
                label{
                    font-size: 1.5rem;
                    display: block;
                    margin: 1rem 0;
                }
            }
            .error{
                font-size: 1.5rem;
                color: red;
            }
            
        }
    }
    section.restaurant-bar{
        h1{
            background: url('../pictures/restaurants.jpg') no-repeat;
            background-size: cover;
            background-position: center;
        }
        .allResto, .allBar{
            text-align: center;
            padding: 2rem;
            h3{
                font-size: 2rem;
            }
            ul{
                width: 100%;
                display: flex;
                justify-content: center;
                padding-left: 2rem;
                li{
                    margin-right: 2rem;
                }
            }
        }
    }
    section.clients, section.historique-commandes{
        h1{
            background: url('../pictures/clients.jpg') no-repeat;
            background-size: cover;
            background-position: center;
        }
        .allClients, .allReservations{
            padding: 2rem;
            text-align: center;
            table {
                margin-top: 2rem;
                border-collapse: collapse;
                width: 80%;
                margin: 4rem auto 0;
              }
              td, th {
                border: 1px solid $blue;
                text-align: left;
                padding: 8px;
                font-size: 1.5rem;
                a{
                    color: $blue;
                    font-size: 1.5rem;
                }
              }
              
              tr:nth-child(even) {
                background-color: #313131;
              }
        }
        #addClient.open{
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 99;
            width: 60%;
            height: 700px;
            background-color: #313131;
            border-radius: 15px;
            border: solid 2px $blue;
            -webkit-box-shadow: 2px 5px 18px 5px rgba(0,0,0,0.9); 
            box-shadow: 2px 5px 18px 5px rgba(0,0,0,0.9);
            justify-content: center;
            align-items: center;
            #btnCloseClient{
                position: absolute;
                cursor: pointer;
                top: 0;
                right: 4rem;
                font-size: 5rem;
            }
            form{
                width: 60%;
                display: flex;
                flex-direction: column;
                align-items: center;
                input{
                    display: block;
                    width: 100%;
                    margin: 2rem;
                    font-size: 1.5rem;
                    background-color: $blue;
                    border-radius: 15px;
                    padding: 1rem;
                    color: #313131;

                }
                input::placeholder{
                    color: #313131;
                }
            }
        }
        #addClient.close{
            display: none;
        }
    }
}
