* {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Pacifico", cursive;
  color: #65C1BE;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
header nav .logo {
  display: block;
  width: 4rem;
}
header nav .logo img {
  max-width: 100%;
}
header nav .open {
  cursor: pointer;
}
header nav .open i {
  font-size: 3rem;
  transition: 0.2s;
  color: black;
}
header nav .open i:hover {
  color: #65C1BE;
}
header nav .menu {
  transition: ease 1s;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 100vh;
  background-color: #313131;
  overflow: hidden;
  z-index: 999;
}
header nav .menu .close {
  cursor: pointer;
}
header nav .menu .close i {
  font-size: 4rem;
  color: #777777;
  transition: ease 0.2s;
}
header nav .menu .close i:hover {
  color: #65C1BE;
}
header nav .menu ul {
  width: 60%;
  margin: 10rem auto 0;
}
header nav .menu ul li {
  border-bottom: solid 1px #777777;
}
header nav .menu ul li a {
  display: block;
  padding: 1rem;
  color: white;
  font-size: 1.7rem;
}
header nav .menu ul li a:hover {
  color: #65C1BE;
}
header nav .opened-menu {
  width: 30%;
  padding: 5rem;
}

main h1 {
  font-family: "Kaushan Script", cursive;
  color: #65C1BE;
  font-size: 7rem;
  text-align: center;
  padding-block: 10rem;
  text-shadow: 4px 4px 10px #000000;
}
main .btn {
  padding: 1rem 2rem;
  background-color: #65C1BE;
  color: #313131;
  border-radius: 15px;
  border: solid 1px #313131;
  margin-top: 2rem;
  font-size: 1.5rem;
}
main .btn:hover {
  background-color: #313131;
  border-color: #65C1BE;
  color: #65C1BE;
}
main section.homepage h1 {
  background: url("../pictures/home.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
main section.homepage .allServices {
  padding: 2rem;
}
main section.homepage .allServices h3 {
  font-size: 2rem;
  text-align: center;
}
main section.homepage .allServices ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
main section.homepage .allServices ul li a {
  width: 180px;
  height: 180px;
  margin: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: solid 2px #65C1BE;
  border-radius: 10px;
  transition: 0.2s;
}
main section.homepage .allServices ul li a img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(50%);
}
main section.homepage .allServices ul li a h5 {
  font-size: 2rem;
  text-align: center;
  color: #65C1BE;
  text-shadow: 0px 0px 10px #000000;
}
main section.homepage .allServices ul li a:hover {
  transform: scale(0.95);
}
main section.chambres h1 {
  background: url("../pictures/chambres.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
main section.chambres .allChambres {
  padding: 2rem;
}
main section.chambres .allChambres ul {
  display: flex;
  flex-wrap: wrap;
}
main section.chambres .allChambres ul li {
  background-color: #313131;
  width: 20%;
  margin: 2.5%;
  overflow: hidden;
  border-radius: 15px;
  border: solid 2px #65C1BE;
}
main section.chambres .allChambres ul li .picture {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.chambres .allChambres ul li .picture img {
  width: 110%;
  transition: ease 1s;
}
main section.chambres .allChambres ul li .content {
  padding: 1rem;
}
main section.chambres .allChambres ul li .content h5 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
}
main section.chambres .allChambres ul li .content p {
  font-size: 1.5rem;
}
main section.chambres .allChambres ul li .content .reservation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section.chambres .allChambres ul li .content .reservation .dispo {
  color: green;
}
main section.chambres .allChambres ul li .content .reservation .occupe {
  color: red;
}
main section.chambres .allChambres ul li .content .reservation a {
  display: block;
  font-size: 1.5rem;
  color: #313131;
  background-color: #65C1BE;
  border-radius: 15px;
  padding: 0.5rem 1rem;
}
main section.chambres .allChambres ul li:hover .picture img {
  width: 100% !important;
}
main section.reserveChambre h1 {
  background-size: cover !important;
  background-position: center !important;
}
main section.reserveChambre .reservations {
  padding: 2rem;
}
main section.reserveChambre .reservations ul {
  list-style: circle;
  padding-left: 5rem;
}
main section.reserveChambre .reservations ul li {
  font-size: 1.5rem;
}
main section.reserveChambre .reserveForm {
  width: 50%;
  margin: 5rem auto 0;
  background-color: #313131;
  padding: 2rem;
  border-radius: 15px;
  border: solid 2px #65C1BE;
  text-align: center;
}
main section.reserveChambre .reserveForm select {
  font-size: 1.5rem;
  width: 40%;
  background-color: #65C1BE;
  color: #313131;
  border-radius: 15px;
  text-align: center;
  padding: 0.5rem 1rem;
}
main section.reserveChambre .reserveForm select option {
  font-size: 1.5rem;
}
main section.reserveChambre .reserveForm .input-label {
  margin: 2rem 0;
}
main section.reserveChambre .reserveForm .input-label input {
  font-size: 1.5rem;
  background-color: #65C1BE;
  border-radius: 15px;
  color: #313131;
  padding: 0.5rem 1rem;
  width: 40%;
}
main section.reserveChambre .reserveForm .input-label label {
  font-size: 1.5rem;
  display: block;
  margin: 1rem 0;
}
main section.clients h1 {
  background: url("../pictures/clients.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
main section.clients .allClients {
  padding: 2rem;
}
main section.clients .allClients table {
  margin-top: 2rem;
  border-collapse: collapse;
  width: 100%;
}
main section.clients .allClients td, main section.clients .allClients th {
  border: 1px solid #65C1BE;
  text-align: left;
  padding: 8px;
  font-size: 1.5rem;
}
main section.clients .allClients td a, main section.clients .allClients th a {
  color: #65C1BE;
  font-size: 1.5rem;
}
main section.clients .allClients tr:nth-child(even) {
  background-color: #313131;
}
main section.clients #addClient.open {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  width: 60%;
  height: 700px;
  background-color: #313131;
  border-radius: 15px;
  border: solid 2px #65C1BE;
  box-shadow: 2px 5px 18px 5px rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}
main section.clients #addClient.open #btnCloseClient {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 4rem;
  font-size: 5rem;
}
main section.clients #addClient.open form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section.clients #addClient.open form input {
  display: block;
  width: 100%;
  margin: 2rem;
  font-size: 1.5rem;
  background-color: #65C1BE;
  border-radius: 15px;
  padding: 1rem;
  color: #313131;
}
main section.clients #addClient.open form input::-moz-placeholder {
  color: #313131;
}
main section.clients #addClient.open form input::placeholder {
  color: #313131;
}
main section.clients #addClient.close {
  display: none;
}/*# sourceMappingURL=style.css.map */