html{font-size: 62.5%;}
body{
    font-size: 2rem;
    font-family: 'Pacifico', cursive;
}
h1,h2,h3{
    font-family: 'Kaushan Script', cursive;
}
nav{
    ul{
    display: flex;
        li{
            list-style: none;
            margin: 0 20px;
            a{
                color: black;
                text-decoration: none;
                transition: 0.2s;
                &:hover{
                    color: #3F90D3;
                    transition: 0.2s;
                }
            }
            
        }
    }
}
.card{
    border: #3F90D3 solid 1px;
    display: inline-block;
    padding: 20px;
}
.button{
    border: #3F90D3 solid 1px;
    background: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.2s;
    &:hover{
        background-color: #3F90D3;
        transition: 0.2s;
    }
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    tr{
        border-bottom: #ccc 1px solid;
        text-align: left;
        th, td{
            padding: 12px 15px;
        }
        a{
            padding: 5px 10px;
            cursor: pointer;
            text-decoration: none;
            color: black;
            transition: 0.3s;
            &:hover{
                text-decoration: underline;
            }
        }
        &:not(:first-child):hover{
            background-color: #ccc;
            transition: 0.3s;
        }
    }
}
.hidden{
    display: none;
}
.boissons, .menus{

    .boisson, .menu{
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
}
