/*GLOBAL*/
*{box-sizing: border-box;}
html{font-size: 62.5%;}
body{
    font-size: 2.5rem;
    font-family: 'Pacifico', sans-serif;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
    }
a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Kaushan Script', sans-serif;
    color: #3F90D3;
}

.cta{
    background-color: #3F90D3;
    padding: 1rem;
    border-radius: 5px;
    color: white;
    font-size: 2.5rem;
    width: 80%;
    text-align: center;
    transition: 0.3s;
    &:hover{
        background-color: white;
        outline: auto;
        color: #3F90D3;
    
    }
}
.container{
    margin: 0 auto;
    max-width: 90%;
}
/*HEADER*/
header{
    background-color: #64a8dfac;
    nav a{
        color: #3F90D3;
    }
    nav ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    nav img{
        width: 12rem;
    }
}

/*RESERVATION*/
section.chambres{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h1{
        flex-basis: 100%;
    }
    article{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 28%;
        margin: 1rem;
        p{
            width: 90%;
        }
        img{
            width: 100%;
            height: 50%;
            object-fit: cover;
        }
    }
}

td{
    margin: 1rem;
    border: solid 1px black;
}