* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  margin: 0;
  font-family: "Pacifico", cursive;
  height: 100vh;
  /* &:after {
    position: absolute;
    background: url("https://storage.googleapis.com/theme-vessel-items/checking-sites/hotel-alpha-html/HTML/main/img/banner/img-3.jpg")
      no-repeat;
    background-size: cover;
    top: 0;
    z-index: -1;
    width: 100%;
    background-position: center;
    height: 100%;
    content: "";
    animation: anim-bc infinite 10s alternate linear;
  }*/
}

@keyframes anim-bc {
  from {
    transform: scale(1) translateX(0);
  }
  to {
    transform: scale(1.2) translateX(100px);
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button,
input {
  outline: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  color: #3f90d3;
  font-family: "Kaushan Script", cursive;
}

p,
label {
  color: #000;
  font-family: "Pacifico", cursive;
}

.breadcrumb {
  display: flex;
  gap: 20px;
  margin-bottom: 1rem;
}
.breadcrumb a {
  color: black;
}
.breadcrumb a:hover {
  text-decoration: underline;
}

.none {
  display: none !important;
}

header {
  background-color: #3f90d3;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2.5rem;
}
header nav ul {
  display: flex;
  gap: 20px;
}
header nav ul li a {
  color: white;
  text-transform: capitalize;
}
header img {
  width: 15rem;
}

.animInput:after, form.homepage div.email:after, form.homepage div.name div:after {
  transition: 0.25s;
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  z-index: 1;
  background-color: cyan;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

form.homepage {
  box-shadow: 0 0 70px -30px #9e9c9e;
  border-radius: 10px;
  margin: 3rem;
  text-transform: capitalize;
  padding: 3rem;
  transition: 0.25s;
}
form.homepage:hover {
  box-shadow: 0 0 30px 5px rgba(158, 156, 158, 0.5);
  transform: translateY(-10px);
}
form.homepage div.name {
  gap: 20px;
  display: flex;
}
form.homepage div.name div {
  width: 50%;
}
form.homepage div.name div input {
  width: 100%;
}
form.homepage div.name,
form.homepage div.email {
  margin: 5rem 0;
}
form.homepage div.name div:focus-within:after {
  width: 100%;
}
form.homepage div.email input {
  width: 100%;
}
form.homepage div.email:focus-within:after {
  width: 100%;
}
form.homepage div {
  position: relative;
}
form.homepage div label {
  z-index: -1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.25s;
  left: 10px;
  width: 100%;
}
form.homepage div input:not(input[type=submit], input[type=reset]) {
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
  font-family: "Pacifico", cursive;
}
form.homepage div input:not(input[type=submit], input[type=reset]):focus + label {
  top: 0;
}
form.homepage div input:not(input[type=submit], input[type=reset]):focus + label:after {
  width: 100%;
}
form.homepage div.send {
  gap: 20px;
  justify-content: center;
  display: flex;
}
form.homepage div.send input[type=submit],
form.homepage div.send input[type=reset] {
  padding: 10px 1.5rem;
  border: none;
  box-shadow: 0px 4px 8px -5px #000000;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
}
form.homepage div.send input[type=submit] {
  background-color: #ff4081;
}
form.homepage div.send input[type=reset] {
  background-color: #888;
}

table.showClient {
  border-collapse: collapse;
  width: 100%;
}
table.showClient tr {
  transition: 0.25s;
}
table.showClient tr:hover {
  background-color: rgba(158, 156, 158, 0.4);
}
table.showClient td,
table.showClient th {
  padding: 1.7rem;
}
table.showClient th {
  padding: 12px;
  text-align: left;
  text-transform: capitalize;
  border-bottom: 2px solid rgba(158, 156, 158, 0.3);
}
table.showClient td {
  border-bottom: 1px solid rgba(158, 156, 158, 0.3);
}

div.reservation {
  width: 100%;
  display: flex;
}
div.reservation div.bar,
div.reservation div.piscine {
  display: flex;
}
div.reservation > div {
  width: 50%;
}
div.reservation .reserv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
div.reservation .reserv h2 {
  text-transform: capitalize;
  margin: 0 0 2rem 0;
}
div.reservation .reserv > div {
  width: 75%;
  background-color: white;
  padding: 3rem;
  border-radius: 8px;
}
div.reservation .reserv > div form div:not(.boisson div) + div {
  margin-top: 2rem;
}
div.reservation .reserv > div form div:not(.boisson div) a {
  color: black;
  text-decoration: underline;
}
div.reservation .reserv > div form div:not(.boisson div) a:hover {
  opacity: 0.8;
}
div.reservation .reserv > div form div:not(.boisson div) a span {
  display: block;
}
div.reservation .reserv > div form div:not(.boisson div) .error {
  font-size: 1.3rem;
  color: red;
}
div.reservation .reserv > div form input[type=submit] {
  margin-top: 2rem;
}
div.reservation .reserv div.piscine {
  flex-direction: column;
}

.resto {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 3rem;
}
.resto form {
  padding: 2rem;
  background-color: white;
  width: 20rem;
  border-radius: 8px;
}
.resto form p {
  margin-bottom: 5rem;
  font-size: 2rem;
}
.resto form input[type=submit] {
  border: 1px solid rgba(158, 156, 158, 0.5);
  cursor: pointer;
  background: none;
  padding: 1rem;
}

main {
  padding: 5rem;
}

.showReserv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.showReserv form {
  overflow: hidden;
  position: relative;
  transition: 0.5s;
}
.showReserv form:hover {
  transform: translateY(-8px);
}
.showReserv form:hover div.anim {
  top: 0;
  opacity: 1;
  transition: all 0.5s;
}
.showReserv form:hover img:not(.anim img) {
  transform: scale(1.2);
}
.showReserv form p {
  margin: 0;
}
.showReserv form img:not(.anim img) {
  width: 100%;
  height: 25rem;
  position: relative;
  object-fit: cover;
  transition: 0.5s;
}
.showReserv form p.price {
  position: absolute;
  top: 18rem;
  right: 3rem;
  color: white;
}
.showReserv form div.option {
  display: flex;
  gap: 20px;
}
.showReserv form div.overflow {
  overflow: hidden;
  height: 25rem;
}
.showReserv form div.anim {
  width: 100%;
  height: 25rem;
  position: absolute;
  left: 0;
  z-index: 1;
  top: -8rem;
  transition: all 0.5s;
  opacity: 0;
  background-color: rgba(12, 62, 185, 0.5);
}
.showReserv form div.anim img {
  display: block;
  height: 100%;
  width: 35px;
  margin: 0 auto;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
.showReserv form input[type=submit] {
  cursor: pointer;
  position: absolute;
  top: 0;
  background-color: transparent;
  border: none;
  left: 0;
  width: 100%;
  height: 25rem;
  z-index: 5;
}

.confirm_resto {
  display: flex;
  gap: 10px;
}
.confirm_resto a {
  display: flex;
  border-radius: 50%;
}
.confirm_resto a:first-of-type {
  background-color: green;
}
.confirm_resto a:last-of-type {
  background-color: red;
  position: relative;
  align-items: center;
  padding: 3px;
}
.confirm_resto a:last-of-type span {
  content: "";
  display: block;
  width: 18px;
  background-color: white;
  height: 2px;
}

.boisson > div {
  display: flex;
  gap: 10px;
}
.boisson > div div {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
