// variable

$titleColor: #3f90d3;
$titleFont: "Kaushan Script", cursive;

$textColor: #000;
$textFont: "Pacifico", cursive;

$buttonColor: #3f90d3;

$navLink: #3f90d3;

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  margin: 0;
  font-family: $textFont;
  height: 100vh;
  /* &:after {
    position: absolute;
    background: url("https://storage.googleapis.com/theme-vessel-items/checking-sites/hotel-alpha-html/HTML/main/img/banner/img-3.jpg")
      no-repeat;
    background-size: cover;
    top: 0;
    z-index: -1;
    width: 100%;
    background-position: center;
    height: 100%;
    content: "";
    animation: anim-bc infinite 10s alternate linear;
  }*/
}

@keyframes anim-bc {
  from {
    transform: scale(1) translateX(0);
  }

  to {
    transform: scale(1.2) translateX(100px);
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button,
input {
  outline: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  color: $titleColor;
  font-family: $titleFont;
}

p,
label {
  color: $textColor;
  font-family: $textFont;
}

header {
  background-color: $navLink;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2.5rem;
    ul {
      display: flex;
      gap: 20px;
      li {
        a {
          color: white;
          text-transform: capitalize;
        }
      }
    }
  }
  img {
    width: 15rem;
  }
}

.animInput {
  &:after {
    transition: 0.25s;
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    z-index: 1;
    background-color: cyan;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

form.homepage {
  box-shadow: 0 0 70px -30px #9e9c9e;
  border-radius: 10px;
  margin: 3rem;
  text-transform: capitalize;
  padding: 3rem;
  transition: 0.25s;
  &:hover {
    box-shadow: 0 0 30px 5px rgba($color: #9e9c9e, $alpha: 0.5);
    transform: translateY(-10px);
  }
  div.name {
    gap: 20px;
    display: flex;
    div {
      width: 50%;
      input {
        width: 100%;
      }
    }
  }
  div.name,
  div.email {
    margin: 5rem 0;
  }

  div.name {
    div {
      @extend .animInput;
      &:focus-within {
        &:after {
          width: 100%;
        }
      }
    }
  }

  div.email {
    @extend .animInput;
    input {
      width: 100%;
    }
    &:focus-within {
      &:after {
        width: 100%;
      }
    }
  }
  div {
    position: relative;
    label {
      z-index: -1;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.25s;
      left: 10px;
      width: 100%;
    }
    input:not(input[type="submit"], input[type="reset"]) {
      padding: 10px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid grey;
      font-family: $textFont;
      &:focus {
        + label {
          top: 0;
          &:after {
            width: 100%;
          }
        }
      }
    }
  }

  div.send {
    gap: 20px;
    justify-content: center;
    display: flex;
    input[type="submit"],
    input[type="reset"] {
      padding: 10px 1.5rem;
      border: none;
      box-shadow: 0px 4px 8px -5px #000000;
      cursor: pointer;
      color: white;
      text-transform: uppercase;
    }

    input[type="submit"] {
      background-color: #ff4081;
    }

    input[type="reset"] {
      background-color: #888;
    }
  }
}

table.showClient {
  border-collapse: collapse;
  width: 100%;
  tr {
    transition: 0.25s;
    &:hover {
      background-color: rgba($color: #9e9c9e, $alpha: 0.4);
    }
  }
  td,
  th {
    padding: 1.7rem;
  }
  th {
    padding: 12px;
    text-align: left;
    text-transform: capitalize;
    border-bottom: 2px solid rgba($color: #9e9c9e, $alpha: 0.3);
  }
  td {
    border-bottom: 1px solid rgba($color: #9e9c9e, $alpha: 0.3);
  }
}

div.reservation {
  padding: 0 8rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 100%;
  display: flex;
  div.bar,
  div.piscine {
    display: flex;
  }
  > div {
    width: 50%;
  }

  .reserv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    h2 {
      text-transform: capitalize;
      margin: 0 0 2rem 0;
    }
    > div {
      width: 50%;
      background-color: white;
      padding: 3rem;
      border-radius: 8px;
      form {
        div {
          + div {
            margin-top: 2rem;
          }
          a {
            color: black;
            text-decoration: underline;
            &:hover {
              opacity: 0.8;
            }
            span {
              display: block;
            }
          }
        }
        input[type="submit"] {
          margin-top: 2rem;
        }
      }
    }
  }
}

.resto {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 3rem;
  form {
    padding: 2rem;
    background-color: white;
    width: 20rem;
    border-radius: 8px;
    p {
      margin-bottom: 5rem;
      font-size: 2rem;
    }

    input[type="submit"] {
      border: 1px solid rgba($color: #9e9c9e, $alpha: 0.5);
      cursor: pointer;
      background: none;
      padding: 1rem;
    }
  }
}

main {
  padding: 5rem;
}

.showReserv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  form {
    overflow: hidden;
    position: relative;
    transition: .5s;
    &:hover {
      transform: translateY(-8px);
      div.anim {
        top: 0;
        opacity: 1;
        transition: all .5s;
      }
      img:not(.anim img) {
        transform: scale(1.2);
      }
    }

    p {
      margin: 0;
    }

    img:not(.anim img) {
      width: 100%;
      height: 25rem;
      position: relative;
      object-fit: cover;
      transition: 0.5s;
    }

    p.price {
      position: absolute;
      top: 18rem;
      right: 3rem;
      color: white;
    }
    div.option {
      display: flex;
      gap: 20px;
    }
    div.overflow {
      overflow: hidden;
      height: 25rem;
    }

    div.anim {
      width: 100%;
      height: 25rem;
      position: absolute;
      left: 0;
      z-index: 1;
      top: -8rem;
      transition: all .5s;
      opacity: 0;
      background-color: rgba(12, 62, 185, 0.5);
      img {
        display: block;
        height: 100%;
        width: 35px;
        margin: 0 auto;
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
      }
    }

    input[type="submit"] {
      cursor: pointer;
      position: absolute;
      top: 0;
      background-color: transparent;
      border: none;
      left: 0;
      width: 100%;
      height: 25rem;
      z-index: 5;
    }
  }
}
